
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />


<div class="container">
    <h1>Slet ingrediens fra databasen</h1>
    <form action="" method="post">
        <label for="">Id på ingrediens der skal slettets</label>
        <br>
        <input type="number" name="ingre_input_del" placeholder="Id på ingrediens der skal slettets">
        <br>
        <a href="/" class="btn btn-details">Tilbage</a>
        <input type="submit" class="btn btn-send" value="SEND">
    </form>
</div>







<center>
    <table border=5>
        <thead>
                <td>id: </td>
                <td>Navn: </td>
                <td>inventar: </td>

        </thead>
        {% for row in rows %}
            <tr>
                <td>{{row["idIngredienser"]}}</td>
                <td>{{row["navnING"]}}</td>
                <td>{{row["inventar"]}}</td>

                 
            </tr>

        {% endfor %}
     
      </table> 

