<!DOCTYPE html>
    <head>
        <title>Shop_data</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
         <center>
        <img src="{{url_for('static', filename='islogo.png')}}">
        </center>
      </head>
    <body>
   

      <!-- <script type="text/javascript">
              var timer = function() {
                      setTimeout(function(){ window.location.reload(); }, 5500);
              };
              timer();
              </script> -->

<center> 
            </table>
          <!-- <a href="/add" class="btn1">Tilføj ingrediens</a>
          <a href="/ingEdit" class="btn1">Redigere ingrediens </a> -->
          <a href="/vis_ingredienser" class="btn1">ingredienser oversigt </a>
          <a href="/is_oversigt" class="btn1">is oversigt </a>

          <!-- <a href="/edit" class="btn1">Redigere is</a> -->
          <a href="/lavis" class="btn1">lav Is </a>
  
        </center>